[Unit]
Description=Wayland clipboard manager with support for multimedia
After=graphical.target
PartOf=graphical.target

[Service]
Type=simple
EnvironmentFile=%h/.config/local/local.env
ExecStart=/bin/sh -c 'wl-paste --watch cliphist store'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical.target
