# some more ls aliases
alias ls='eza'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

alias cat='bat --theme="Catppuccin Mocha"'

alias vim='nvim'

alias xargs='xargs -I {}'

alias awkvars="awk --dump-variables '' && cat awkvars.out && rm awkvars.out"

# copy working directory
alias cwd='pwd | tr -d "\r\n" | xclip -selection clipboard'

# Pipe my public key to my clipboard.
alias pubkey="cat ~/.ssh/id_rsa.pub | xclip -selection clipboard && echo '=> Public key copied to clipboard.'"

alias showmount='mount | column -t'

alias wget='wget -c'

# Stop after sending count ECHO_REQUEST packets #
alias ping='ping -c 5'
# Do not wait interval 1 second, go fast #
alias fastping='ping -c 100 -s.2'

alias ports='ss -tln'

alias vihosts='sudo vim /etc/hosts'
alias vihostswin='vim /mnt/c/Windows/System32/drivers/etc/hosts'

alias myip='curl -sf http://checkip.dyndns.org | sed -n "s/^.*Address:\s\(.*\)<\/body>.*$/\1/p"'
alias myip6='curl -sf http://checkipv6.dyndns.org | sed -n "s/^.*Address:\s\(.*\)<\/body>.*$/\1/p"'

alias diskusage='sudo du -ak --max-depth=1 2> /dev/null | sort -n'

alias sync-time='sudo chronyc makestep'

alias wifi-connect='nmcli --ask d wifi connect'